*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --border-size: 0.25em;
  width: calc(var(--img-size) + (2 * var(--border-size)));
  height: calc(var(--img-size) + (2 * var(--border-size)));
  border: var(--border-size) dashed #c4c4c4;
  display: block;
}

:host(.ally-focus-within) {
  border: 4px dashed #7276b6;
}

input[type='file'] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 25px;
  cursor: pointer;
  width: calc(var(--img-size) + (2 * var(--border-size)));
}

.file-img {
  height: var(--img-size);
  width: var(--img-size);
  object-fit: cover;
  cursor: pointer;
}

.hidden {
  display: none;
}
