*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  width: 100%;
}

textarea {
  width: 100%;
}

.add-item-text {
  color: #000;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 300;
  margin: 0 1em;
  resize: none;
  height: 160px;
}
