*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --img-size: 160px;
  --container-size: 300px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}

image-upload {
  margin-right: 16px;
}

.container {
  max-width: var(--container-size);
}

.title {
  text-align: center;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item {
  width: var(--container-size);
}

.add-item-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

[role='dialog'] {
  padding: 1em;
  border-radius: 5px;
}

:not(:defined) {
  display: none;
}

.btn {
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 1em 0;
}

generic-alert {
  background-color: #f8d7da;
  color: #721c24;
  border: none;
}

@media screen and (min-width: 700px) {
  :root {
    --container-size: 700px;
  }

  .subtitle {
    text-align: start;
  }

  .add-item-input-area {
    flex-direction: row;
  }
}
