*,
*::before,
*::after {
  box-sizing: border-box;
}

.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--container-size);
}

.add-item-text {
  margin: 0 1em;
}

.btn {
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 1em 0;
}

@media screen and (min-width: 700px) {
  .add-item-input-area {
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
}
